<!DOCTYPE html>
<html>
<head>
	<title>Contact List Version 4</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script>
		$(document).ready(function(){

		});
	</script>
</head>
<body>
<h1>Contacts:</h1>
<% @contacts.each do |contact| %>
	<h2>
		<%= contact.firstname %>
	</h2>
<% end %>
</body>
</html>